.btn{
    display: block;
    margin: 20px auto;
    border-radius: 30px;
    border: none;
    font-weight: 700;
    font-size: 18px;
    color: white;
    background-color: #00c78b;
    padding: 10px 20px;
}